html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#logo-img {
    width: 25px;
    margin-top: 18px;
}

#logo-el {
    padding: 0 17px;
    margin-bottom: 12px;
}

#logo-el h5 {
    display: inline;
    vertical-align: middle;
    padding-bottom: 17px;
}

#img-hero {
    width: 100%;
}

.hero  {
    position: relative;   
}

.hero-post {
    position: absolute;
    display: inline-block;
    top: 85px;
    left: 15px;
    color: white;   
}

.hero-post h1,
.hero-post h4,
.hero-post p {
    margin: 0;
    width: 365px;
}

.hero-post p {
    font-size: 0.9rem;
    line-height: 1.5;  
}

h2 {
    margin: 0;
}

h4 {
    font-size: 0.7rem;
    font-weight: 400;
}

.hero-post h1 {
    padding: 8px 0;
}

.icon {
    background: black;
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
    padding: 10px 12px;
}

.hidden {
    display: none;
}

.nav-el {
    position: relative;
}

ul {
    padding: 0;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    background: rgb(20, 20, 20);
    padding: 15px;
}

li a:hover {
    background:rgb(71, 94, 10)
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 0;
}

.article {
    margin-top: 20px;
    width: 360px;
}

.img {
    width: 100%;
}

footer {
    width: 100%;
    background: black;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    font-weight: 400;
    padding: 15px 0;
}

footer p {
    line-height: 3px;
}

.footer {
    font-weight: 900;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .nav-el {
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        align-items: center;
        padding: 0 5px;
        background: white;
     }
    ul li {
        display: inline;
        list-style-type: none;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
        padding-left: 25px;
    }
    ul {
        margin: 0;
    }
    .icon {
        display: none;
    }
    #nav {
        display: block;
    }
    li {
        background: none;
        color: black;
    }
    li:hover {
        background: none;
    }
    .container {
        width: 800px;
    }
    .article {
        display: grid;
        grid-template: auto / auto auto auto;
        grid-gap: 1em 1em;   
    }
    .hero-post {
        top: 400px;
    }
    .hero-post p {
        width: 750px;
    }

    .tab a {
        display: inline-block;
        margin-right: 30px;
        position: relative;
        margin-bottom: 0;
        font-size: 0.9rem;
        color:rgb(20, 20, 20);
        text-decoration: none;
        background: none;
        padding: 5px 5px;
    }
     
    .tab a:last-child {
        margin-right: 0px;
    }
        
    .tab a:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: rgb(217, 255, 0);
        -webkit-transition: .5s;
        transition: .5s;
    }
        
    .tab a:hover:before {
        width: 100%
    }
    .tab a:hover {
        background: none;
    }
}

@media (min-width: 1024px) {
    .hero {
        width: 100%;
    }
    #img-hero {
        height: 600px;
        object-fit: cover;
    }
    .hero-post {
        top: 430px;
        left: 20%;
    }
    .hero-post p {
        width: 80%;
    }
    a {
        font-size: 0.9rem;
    }
}



