html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



#logo-img {
    width: 25px;
    margin-top: 18px;
}

#img-hero {
    width: 100%;
}

#logo-el h5 {
    display: inline;
    vertical-align: middle;
    padding-bottom: 17px;

}

.hero  {
    position: relative;
    
   

}

.hero-post {
    position: absolute;

    display: inline-block;
    top: 85px;
    left: 15px;
    color: white;
    
}

.hero-post h1,
.hero-post h4,
.hero-post p {
    margin: 0;
}

.hero-post p {
    font-size: 0.9rem;
    line-height: 1.5;  
}

h2 {
    margin: 0;
}

h4 {
    font-size: 0.7rem;
    font-weight: 400;
}

.hero-post h1 {
    padding: 8px 0;
}

.icon {
    background: black;
    position: absolute;
    padding: 10px;
    color: white;
}

.nav-el {
    position: relative;
}

.icon {
    position: absolute;
    top: 10px;
    right: 0;

    padding: 10px 12px;
}

/* .nav-el {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    align-items: center;
    padding: 0 17px;    f
} */
ul {
    padding: 0;
    margin-bottom: 0;
}

li {
    background: rgb(12, 12, 12);
    color: white;
    padding: 15px;
    list-style-type: none;
    display: block;
    text-transform: uppercase;
}

li:hover {
    background:rgb(71, 94, 10)
}




/* ul li {
    display: inline;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    padding-left: 25px;
} */

#logo-el {
    padding: 0 17px;
    margin-bottom: 12px;
}

/* #logo-el {
    display: flex;
    align-items: center;

} */


.container {
    width: 400px;
    margin: 0 auto;
    padding: 0;

}

.article {
    margin-top: 20px;
    width: 360px;
}

.img {
    width: 100%;
}






