html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#logo-img {
    width: 25px;
}

#img-hero {
    width: 100%;
}

#logo-el h5 {
    padding-left: 5px;
}

.hero  {
    position: relative;
   

}

.hero-post {
    position: absolute;

    display: inline-block;
    top: 85px;
    left: 15px;
    color: white;
    
}

.hero-post h1,
.hero-post h4,
.hero-post p {
    margin: 0;
}

.hero-post p {
    font-size: 0.9rem;
    line-height: 1.5;  
}

h2 {
    margin: 0;
}

 h4 {
    font-size: 0.7rem;
    font-weight: 400;
}

.hero-post h1 {
    padding: 8px 0;
}

.nav-el {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    align-items: center;
    padding: 0 17px;    
}

ul li {
    display: inline;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    padding-left: 25px;
}



#logo-el {
    display: flex;
    align-items: center;

}


.container {
    width: 400px;
    margin: 0 auto;
    padding: 0;

}

.article {
    margin-top: 20px;
    width: 360px;
}

.img {
    width: 100%;
}






